* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f9;
    color: #333;
}

.navbar {
    background: #111827;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

.navbar a:hover {
    opacity: 0.8;
}

.btn-primary {
    background: #2563eb;
    padding: 8px 14px;
    border-radius: 6px;
}

.btn-secondary {
    background: #1ed25d;
    padding: 8px 14px;
    border-radius: 6px;
}

.btn-logout {
    background: #dc2626;
    padding: 8px 14px;
    border-radius: 6px;
}

.btn-small {
    padding: 5px 10px;
    font-size: 0.8em;
    margin-left: 5px;
    display: inline-block;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}


h1, h2, h3 {
    margin-bottom: 20px;
}


ul {
    list-style: none;
}

li {
    background: white;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}


a {
    color: #2563eb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

form p {
    margin-bottom: 15px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin-top: 5px;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #1e40af;
}


.review-meta {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
}

.review-actions a {
    margin-right: 10px;
    font-size: 14px;
}

.review-actions {
    margin-top: 5px;
}

.reviews-list li {
    padding-bottom: 10px;
}

.search-bar {
    margin-bottom: 25px;
    gap: 10px;
}

.film-actions, .director-actions {
    margin-bottom: 15px;
}